.chat-header {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.chat-header img {
  width: 40%;
}

.username {
  float: right;
  font-size: 12px;
  font-weight: bold;
}

.time {
  float: right;
  font-size: 11px;
  color: gray;
}