<div class="messageList">
  <ul id="messageList">
    <li *ngFor="let message of messageList">
      <div class="message">{{ message.message }}<div class='time'>{{ message.time | date:"hh:mm a" }}</div></div>
    </li>
  </ul>
</div>

<textarea #myText id="message" placeholder="Escreva sua mensagem aqui..." rows="3" (keypress)="getKeyPress($event)" [(ngModel)]="message" maxlength="500"></textarea>
<span class="counter">{{message.length}}/500</span>

<div class="btn-area">
  <button type="submit" id="btnSend" class="confirm" (click)="sendMessage()">Enviar</button>
</div>
