body {
  font-family: sans-serif;
}

textarea {
  border: none;
  width: 500px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 17px;
  background-color: #dff3fe;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.confirm {
  background-color: #85c673;
  color: white;
  padding: 10px 60px;
  border: none;
  font-size: 20px;
  transition: background-color 0.5s;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.confirm:hover {
  background-color: navy;
  cursor: pointer;
}

.messageList {
  height: 560px;
  background-color: lightgray;
  padding: 10px;
  margin-bottom: 15px;
  overflow: auto;
}

.messageList ul {
  list-style: none;
  padding: 0;
}

.messageList ul li .message {
  font-family: sans-serif;
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
  white-space: pre-wrap;
  width: 70%;
  display: inline-block;
}

.messageList ul li .profile {
  padding: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.messageList li .time {
  text-align: right;
  font-size: 12px;
  border-top: 1px solid #eee;
  padding-top: 5px;
  margin-top: 5px;
}

.btn-area {
  padding-top: 10px;
  text-align: right;
}

.counter {
  margin-top: 10px;
  font-size: 11px;
  float: left;
}